[Unit]
Description=VLCMediaServer
After=network.target

[Service]
Type=Forking
Restart=on-failure
RestartSec=3

ExecStart=/usr/bin/screen -h 1024 -DmS VLCMediaServer /mnt/VLCMediaController/LaunchScripts/LaunchMediaServer.sh



[Install]
WantedBy=multi-user.target
