[Unit]
Description=VLCMediaServer
After=local-fs.target network.target
[Service]
WorkingDirectory=/mnt/VLCMediaController
Type=Forking

ExecStart=/usr/bin/screen -h 1024 -dmS VLCMediaServer /mnt/VLCMediaController/LaunchScripts/LaunchMediaServer.sh



[Install]
WantedBy=multi-user.target
