[Unit]
Description=VLCSoundPannelServer
After=local-fs.target network.target
[Service]
Type=Forking
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/screen -h 1024 -DmS VLCSoundPannelServer ./VLCMedia/LaunchSoundPannelServer.sh



[Install]
WantedBy=multi-user.target
