[Unit]
Description=VLCSoundPannelServer
After=local-fs.target network.target
[Service]
WorkingDirectory=/
Type=Forking

ExecStart=/usr/bin/screen -h 1024 -dmS VLCSoundPannelServer /VLCMedia/LaunchSoundPannelServer.sh



[Install]
WantedBy=multi-user.target
