[Unit]
Description=VLCSoundPannelServer
After=network.target

[Service]
User=ragnarok
Type=Forking
Restart=on-failure
RestartSec=3

ExecStart=/usr/bin/screen -h 1024 -DmS VLCSoundPannelServer /mnt/VLCMediaController/LaunchScripts/LaunchSoundPannelServer.sh

[Install]
WantedBy=multi-user.target
